.logo {
    font-family: var(--logo-font);
    font-size: 26px;
    line-height: 1.19;
    font-weight: 700;
    color: var(--logo-color);

    &--footer {
        display: flex;
        margin-bottom: 20px;

        color: var(--white-text-color);
    }

    &--accent {
        color: var(--accent-text-color);
    }
}

.logo--header {
    padding: 24px 0;
}