.menu__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (min-width: 768px) {
        padding: 0;
    }
}

.menu__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    padding: 48px 40px;
    background-color: #ffffff;


    transform: translateX(200%);
    transition: transform 250ms ease-in-out;

    &.is-open {
        transform: translateX(0);
    }

    @media screen and (max-width: 767px) {
        position: fixed;
        top: 0;
        left: 0;

        height: 100vh;
        z-index: 999;
        overflow-y: scroll;
    }

    @media screen and (min-width: 768px) {
        position: relative;

        flex-direction: row;
        align-items: center;

        transform: translateX(0);
        width: 100%;
        padding: 0;
    }
}

.menu__btn {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
}

.menu__btn--open {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;

    transition: fill 250ms var(--timing-function);

    &:hover,
    &:focus {
        fill: var(--accent-text-color);
    }

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.menu__button--close {
    position: absolute;
    top: 10px;
    right: 15px;

    border: none;
    background-color: transparent;

    transition: fill 250ms var(--timing-function);

    &:hover,
    &:focus {
        fill: var(--accent-text-color);
    }

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.menu-social__list {
    display: flex;

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.menu-social__item:not(:last-child) {
    position: relative;

    margin-right: 20px;
}

.menu-social__item:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 0;
    right: -10px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    height: 22px;
}

.menu-social__link {
    font-family: inherit;
    font-weight: 500;
    font-size: 10px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--accent-text-color);

    @media screen and (min-width: 360px) {
        font-size: 14px;
    }

    @media screen and (min-width: 430px) {
        font-size: 18px;
    }
}