.nav__container {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__list {
    display: flex;
    flex-direction: column;
    gap: 32px;

    @media screen and (min-width: 768px) {
        flex-direction: row;
        gap: 50px;
        margin-left: 88px;
    }

    @media screen and (min-width: 768px) {
        gap: 50px;
        margin-left: 100px;
    }
}

.auth__list {
    display: flex;
    flex-direction: column-reverse;
    gap: 32px;

    @media screen and (min-width: 768px) {
        flex-direction: column;
        gap: 10px;
    }

    @media screen and (min-width: 1200px) {
        flex-direction: row;
        gap: 40px;
    }
}

.nav__link {
    position: relative;

    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);

    transition: color 250ms var(--timing-function);

    &:hover,
    &:focus {
        color: var(--accent-text-color);
    }

    @media screen and (min-width: 768px) {
        padding: 32px 0;
        font-size: 14px;
        line-height: 1.14;
    }
}

.nav__link::after {
    position: absolute;
    content: '';
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    opacity: 0;

    border-radius: 2px;
    background-color: var(--button-primary-background-color);
}

.nav__link--current.nav__link::after {
    @media screen and (min-width: 768px) {
        opacity: 1;
    }
}

.nav__link--current {
    color: var(--accent-text-color);
}

.auth__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);

    transition: color 250ms var(--timing-function);

    &:hover,
    &:focus {
        color: var(--accent-text-color);
    }

    @media screen and (min-width: 360px) {
        font-size: 24px;
    }

    @media screen and (min-width: 430px) {
        font-size: 34px;
    }

    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        gap: 8px;

        font-size: 14px;
        line-height: 1.17;
    }

    @media screen and (min-width: 1200px) {
        padding: 32px 0;
    }
}

.auth__icon {
    display: none;
    fill: var(--secondary-text-color);

    transition: fill 250ms var(--timing-function);

    .auth__link:hover &,
    .auth__link:focus & {
        fill: var(--accent-text-color);
    }

    @media screen and (min-width: 768px) {
        display: block;
    }
}