.footer {
    background-color: var(--footer-background-color);
}

.footer__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 60px;

    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;

    @media screen and (min-width: 768px) {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
    }

    @media screen and (min-width: 768px) {
        justify-content: space-around;
    }

    @media screen and (min-width: 1200px) {
        justify-content: flex-start;
        gap: 0;
    }
}

.address {
    font-family: inherit;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    color: var(--white-text-color);
}

.address__list {
    display: flex;
    flex-direction: column;
    gap: 12px;

    @media screen and (min-width: 1200px) {
        text-align: left;
    }
}

.address__link {
    color: var(--footer-link-color);

    transition: color 250ms var(--timing-function);

    &:hover,
    &:focus {
        color: var(--accent-text-color);
    }
}

.footer__social {
    @media screen and (min-width: 1200px) {
        margin-left: 70px;
    }
}

.footer__title {
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--white-text-color);

    @media screen and (min-width: 1200px) {
        text-align: left;
    }
}

.footer__list {
    display: inline-flex;
    gap: 10px;
}

.footer__link {
    display: flex;
    width: 44px;
    height: 44px;
    padding: 12px;
    border-radius: 50%;
    fill: var(--white-text-color);
    background-color: var(--footer-link-background-color);

    transition: background-color 250ms var(--timing-function);

    &:hover,
    &:focus {
        background-color: var(--button-primary-background-color);
    }
}

.subscription {
    width: 100%;

    @media screen and (min-width: 768px) {
        width: 450px;
    }

    @media screen and (min-width: 1200px) {
        width: 570px;
        margin-left: auto;
    }
}

.subscription__form {
    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: center;
    }
}

.subscription__label {
    @media screen and (min-width: 1200px) {
        margin-right: 12px;
    }
}

.subscription__input {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 15px 16px;

    color: var(--white-text-color);
    background: var(--footer-background-color);
    border: 1px solid var(--footer-border-input);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    &::placeholder {
        font-size: 16px;
        line-height: 1.25;
        color: var(--footer-placeholder-text);
    }

    @media screen and (min-width:1200px) {
        width: 358px;
        margin: 0;
    }
}

.subscription__icon {
    margin-left: 10px;
    fill: var(--primary-background-color);
}